@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  background-color: #f2f2f2;
}

.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0 auto;
  background-color: #ffffff;
  text-align: center;
  width: 1200px;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
}

.main-header {
  color: #000000;
  position: relative;
  padding-left: 238px;
  padding-right: 70px;
}

.nav-logo {
  position: absolute;
  left: 70px;
  top: 0;
}

.nav {
  display: flex;
  justify-content: space-between;
}

.nav-list {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 445px;
  display: flex;
  flex-wrap: wrap;
}

.user-list {
  width: 335px;
  justify-content: end;
  align-items: center;
}

.nav-link {
  display: block;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
  color: inherit;
  text-decoration: none;
  padding: 20px 16px;
}

.user-link {
  min-width: 20px;
  min-height: 24px;
  padding: 20px 12px;
}

.user-link.button {
  padding: 8px 34px;
  margin-left: 20px;
}

.user-link span {
  color: #ffffff;
  font-size: 10px;
  line-height: 10px;
  background-color: #7db54f;
}

.user-likes {
  font-weight: 400px;
}

.main-index {
  flex-grow: 1;
}

.hero {
  background-color: #564841;
  background-image: url("../images/divider.svg"), url("../images/index-background.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto, cover;
  background-position: left bottom, left top;
  padding: 50px 0 80px;
}

.advantages-header {
  max-width: 885px;
  margin: 0 auto;
  padding: 68px 0 36px;
}

.title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0 0 20px;
}

.advantages-header .title {
  margin-bottom: 25px;
}

.reasons {
  margin: 0 0 54px;
}

.advantages-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

.advantages-item {
  width: 400px;
  box-sizing: border-box;
  min-height: 385px;
  text-align: center;
  padding: 114px 83px;
}

.advantages-item-large {
  background: #82b3d3;
  display: flex;
  width: 1200px;
  margin: 0;
  padding: 0;
}

.advantages-item-large .advantages-title {
  color: #ffffff;
}

.advantages-wrapper {
  width: 400px;
  box-sizing: border-box;
  min-height: 385px;
  color: #ffffff;
  padding: 102px 85px;
}

.advantages-wrapper-reverse {
  order: 1;
}

.advantages-title {
  margin: 0 0 62px;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  color: #000000;
  text-transform: uppercase;
}

.advantages-description {
  margin: 0;
  font-size: 18px;
  line-height: 21px;
}

.advantages-light {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-dark {
  background-color: rgba(131, 179, 211, 0.2);
}

.service-header {
  margin: 0 auto;
  padding: 64px 0 64px;
  max-width: 515px;
}

.service-item {
  padding-top: 150px;
}

.service-title {
  margin-bottom: 30px;
}

.search {
  max-width: 592px;
  margin: 0 auto;
  padding: 95px 0;
}

.subscribe {
  text-align: center;
  padding: 96px 0 104px;
  margin: 0 auto;
}

.subscribe-main {
  color: #ffffff;
  background-color: #756157;
  background-image: url("../images/subscribe-backgroud.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.subscribe-catalog .title {
  color: #000000;
}

.field {
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  background-color: #f2f2f2;
}

.main-footer {
  display: flex;
  justify-content: space-between;
  padding: 40px 70px 30px;

}

.social-list {
  list-style: none;
  max-width: 238px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.social-icon {
  display: block;
  min-width: 27px;
  min-height: 18px;
  padding: 12px 11px;
}

.contact-phone {
  color: #000000;
  font-size: 40px;
  line-height: 40px;
  text-decoration: none;
}

.contact-link {
  min-width: 115px;
  min-height: 34px;
}

/* Каталог */


.hotel-header {
  color: #ffffff;
  background-color: #756157;
  background-image: url("../images/filter-background.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 35px 70px;
}

.catalog-title {
  margin: 0 0 8px;
  font-size: 60px;
  line-height: 78px;
  text-align: start;
}

.breadcrumbs {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.breadcrumbs-link {
  display: block;
  min-width: 13px;
  min-height: 15px;
  font-size: 16px;
  line-height: 21px;
}

.breadcrumbs-item:not(:last-child) {
  margin-right: 28px;
}

.filter {
  display: flex;
  text-align: start;
}

.filter-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.filter-title {
  font-size: 20px;
  line-height: 24px;
}

.filter-group {
  margin-right: 70px;
}

/*   убрать до оформления форм

.filter-group:nth-child(3) {
  margin-left: 70px;
} */


.filter-item-label {
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;
}

.filter-item-input {
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  font-weight: 700;
  background-color: #f2f2f2;
}

.filter-button-wrapper {
  display: flex;
  flex-direction: column;
}

.control-input {
  font-size: 18px;
  line-height: 23px;
}

.hotels {
  text-align: start;
  padding: 50px 70px 60px;
}

.hotels-wrapper {
  align-items: center;
  display: flex;
  margin-bottom: 40px;
}

.hotels-result {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  color: #000000;
  text-transform: uppercase;
  margin: 0;
  margin-right: 185px;
}

.hotels-select {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: inherit;
  background-color: #ffffff;
  appearance: none;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  padding: 12px 20px;
  padding-right: 40px;
  width: 292px;
  margin-right: 70px;
}

.display-cards {
  display: flex;
  gap: 0 8px;
}

.hotels-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.hotel-card {
  padding: 20px;
}

.hotel-card-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  color: #000000;
}

.hotel-card-link {
  text-decoration: none;
}

.hotel-card-price {
  font-size: 18px;
  line-height: 21px;
}

.rating-result {
  font-size: 16px;
  line-height: 20px;
  background-color: #f2f2f2;
  text-transform: uppercase;
  margin: 0;
}

.stars {
  margin: 0;
  width: 140px;
  min-height: 37px;
}

.pagination {
  list-style: none;
  display: flex;
  gap: 8px;
  margin: 0;
  padding: 80px 0 60px;
}

.pagination-item {
  min-width: 60px;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
}

.pagination-more {
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  padding-top: 16px;
  display: block;
  min-width: 60px;
}

/* Кнопки */

.button {
  font-family: inherit;
  color: #ffffff;
  border-radius: 4px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  border: none;
  box-sizing: border-box;
}

.subscribe-button {
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  padding: 8px 50px;
}

.search-button {
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
}


.button-primary {
  background-color: #82b3d3;
}

.button-secondary {
  background-color: #756157;
}

.button-added {
  background-color: #7db54f;
}

.filter-reset {
  background-color: transparent;
}

.filter-button-wrapper .button {
  padding: 8px 40px;
}

.button-cards {
  display: block;
  width: 48px;
  height: 48px;
  border: 2px solid #e5e5e5;
}

.hotel-card-button {
  padding: 8px 18px;
}

.pagination-link {
  color: #ffffff;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  text-decoration: none;
  display: block;
  padding: 11px 10px;
}

.pagination-current {
  color: #000000;
  background-color: #f2f2f2;
}
