@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  background-color: #f2f2f2;
}

.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0 auto;
  background-color: #ffffff;
  text-align: center;
  width: 1200px;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
}

.main-header {
  color: #000000;
  position: relative;
  padding: 0 70px;
  display: flex;
}

.nav-logo {
  margin-right: 30px;
  margin-bottom: -6px;
  align-self: start;
}

.logo-img {
  display: block;
}

.nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.nav-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.user-list {
  min-width: 335px;
  justify-content: end;
  align-items: center;
}

.nav-link {
  display: block;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
  color: inherit;
  text-decoration: none;
  padding: 20px 16px 19px;
}

.nav-item .nav-link:hover {
  color: rgba(0, 0, 0, 0.6);
}

.nav-item .nav-link:active {
  color: rgba(0, 0, 0, 0.3)
}

.nav-item {
  box-sizing: border-box;
}

.nav-item-current::after {
  content: "";
  display: block;
  margin: 0 auto -2px;
  width: calc(100% - 31px);
  background-color: #756257;
  border-bottom: 2px solid #756257;
}

.user-link {
  min-width: 20px;
  min-height: 24px;
  padding: 20px 12px;
}



.user-link.button {
  padding: 8px 34px;
  margin-left: 20px;
}

.user-link span {
  color: #ffffff;
  font-size: 10px;
  line-height: 10px;
  background-color: #7db54f;
  position: absolute;
  top: 12px;
  right: 5px;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  padding: 5px;
  min-width: 20px;
  height: 20px;
  box-sizing: border-box;
}

.user-item:first-child .user-link {
  background: url("../images/search.svg") no-repeat 0 0;
  background-position: center;
  background-size: auto;
}

.user-item:nth-last-child(2) .user-link {
  position: relative;
  background: url("../images/heart.svg") no-repeat 0 0;
  background-position: center;
  background-size: auto;
}

.main-index {
  flex-grow: 1;
}

.hero {
  background-color: #564841;
  background-image: url("../images/divider.svg"), url("../images/index-background.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto, cover;
  background-position: left bottom, left top;
  padding: 50px 0 80px;
}

.advantages-header {
  max-width: 885px;
  margin: 0 auto;
  padding: 68px 0 36px;
  grid-column: 1 / -1;
}

.title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0 0 20px;
}

.advantages-header .title {
  margin-bottom: 25px;
}

.reasons {
  margin: 0 0 54px;
}

.advantages-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 0;
  padding: 0;
  text-align: center;
  list-style-type: none;
}

.advantages-item {
  box-sizing: border-box;
  min-height: 385px;
  text-align: center;
  padding: 114px 83px;
}

.advantages-item-large {
  display: grid;
  background: #82b3d3;
  grid-column: 1/-1;
  grid-template-columns: 400px 1fr;
  padding: 0;
}

.advantages-img {
  display: block;
  max-width: 100%;
}


.advantages-item-large .advantages-title {
  color: #ffffff;
}

.advantages-wrapper {
  width: 400px;
  box-sizing: border-box;
  min-height: 385px;
  color: #ffffff;
  padding: 102px 85px;
}


.advantages-item-large-reverse {
  order: 1;
  grid-template-columns: 1fr 400px;
}

.advantages-item-large-reverse .advantages-wrapper {
  order: 1;
}

.advantages-title {
  max-width: 175px;
  margin: 0 auto 30px;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  color: #000000;
  text-transform: uppercase;

}

.advantages .advantages-title::after {
  content: "";
  display: block;
  width: 60px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  margin: 30px auto 0;
}

.advantages-item-large .advantages-title::after {
  border-color: rgba(255, 255, 255, 0.3);
}

.advantages-description {
  margin: 0;
  font-size: 18px;
  line-height: 21px;
}

.advantages-light {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-dark {
  background-color: rgba(131, 179, 211, 0.2);
}

.service-header {
  margin: 0 auto;
  padding: 64px 0 64px;
  max-width: 515px;
  grid-column: 1 / -1;
}

.service-item {
  padding: 82px 85px;
  position: relative;
}

.service-item:before {
  content: "";
  display: block;
  width: 75px;
  height: 72px;
}

.service-item:first-child::before {
  margin: 0 auto 30px;
  background: url("../images/service-icons/home.svg") no-repeat 0 0;
}

.service-item:nth-child(2)::before {
  background: url("../images/service-icons/food.svg") no-repeat 0 0;
  margin: 0 auto 31px;
}

.service-item:nth-child(3)::before {
  background: url("../images/service-icons/souvenirs.svg") no-repeat 0 0;
  width: 64px;
  height: 76px;
  margin: 0 auto 28px;
}

.service-title {
  margin-bottom: 30px;
}


.search {
  max-width: 592px;
  margin: 0 auto;
  padding: 95px 0;
}

.subscribe {
  text-align: center;
  padding: 96px 0 104px;
  margin: 0 auto;
}

.subscribe-main {
  color: #ffffff;
  background-color: #756157;
  background-image: url("../images/subscribe-backgroud.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.subscribe-catalog .title {
  color: #000000;
}

.subscribe-form {
  display: flex;
  max-width: 684px;
  justify-content: center;
  margin-inline: auto;
  align-items: stretch;
  text-wrap: auto;
}

.subscribe-form input {
  flex-grow: 1;
  padding: 14px 20px;
  font-family: inherit;
  font-size: 18px;
  line-height: 1.33;
  font-weight: 400;
  color: #000000;
  background-color: #f2f2f2;
  border: none;
  border-radius: 4px 0 0 4px;
}

.subscribe-form input:hover {
  background-color: #e5e5e5;
}

.subscribe-form input:disabled {
  background-color: rgba(242, 242, 242, 0.4);
  pointer-events: none;
}

.field {
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  background-color: #f2f2f2;
}

.main-footer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 45px 70px 35px;
  gap: 40px;
}


.social-list {
  display: flex;
  flex-wrap: wrap;
  width: 282px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.social-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 40px;
  position: relative;
}

.social-icon::before {
  content: "";
  width: 24px;
  height: 18px;
  background-color: #82b3d3;
  mask-position: center;
  mask-repeat: no-repeat;
  mask-size: 24px 18px;
}

.icon-vk::before {
  mask-image: url("../images/social-icons/vk.svg");
}

.icon-telegram::before {
  mask-image: url("../images/social-icons/telegram.svg");
}

.icon-youtube::before {
  mask-image: url("../images/social-icons/youtube.svg");
}

.social-icon:hover::before {
  background-color: #68a2ca;
}

.social-icon:active::before {
  background-color: rgba(104, 162, 202, 0.3);
}

.phone-wrapper {
  width: 500px;
  margin-left: 57px;
  text-align: start;
}

.contact-phone {
  color: #000000;
  font-size: 40px;
  line-height: 40px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  box-sizing: border-box;
}

.contact-phone:hover {
  color: #756157;
}

.contact-phone:active {
  color: rgba(117, 97, 87, 0.3);
}

.contact-link {
  width: 115px;
  min-height: 34px;
  display: block;
  mask: url("../images/html-academy-logo.svg") no-repeat center;
  background-color: #000000;
  margin-left: auto;
}

.contact-link:hover {
  background-color: #756157;
}

.contact-link:active {
  background-color: rgba(117, 97, 87, 0.3);
}

/* Каталог */


.hotel-header {
  color: #ffffff;
  background-color: #756157;
  background-image: url("../images/filter-background.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 35px 70px 70px;
}

.catalog-title {
  margin: 0 0 8px;
  font-size: 60px;
  line-height: 78px;
  text-align: start;
}

.breadcrumbs {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0 0 40px;
  padding: 0;
}

.breadcrumbs-item {
  display: flex;
  align-items: center;
}

.breadcrumbs-link {
  display: flex;
  align-items: center;
  font-size: 16px;
  line-height: 21px;
  min-width: 13px;
  min-height: 21px;
  cursor: pointer;
}

.breadcrumbs-link:hover {
  color: rgba(255, 255, 255, 0.6);
}

.breadcrumbs-link:active {
  color: rgba(255, 255, 255, 0.3);
}



.breadcrumbs-item:first-child .breadcrumbs-link::before {
  content: "";
  display: block;
  background: url("../images/breadcrumbs-icon.svg") no-repeat center;
  width: 13px;
  height: 15px;
  background-size: contain;
  margin-top: 3px;
}

.breadcrumbs-item:not(:last-child)::after {
  content: "";
  display: block;
  background: url("../images/arrow.svg") no-repeat;
  background-size: contain;
  width: 8px;
  height: 10px;
  margin: 3px 10px 0;
}

.filter {
  display: flex;
  gap: 70px;
  flex-wrap: wrap;
}

.filter-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-align: left;
  padding: 0;
  margin-bottom: 32px;
  text-transform: capitalize;
}

.filter-group {
  margin: 0;
  padding: 0;
  min-width: 150px;
  border: none;
}

.filter-group:nth-child(3) {
  margin-left: 70px;
}

.filter-item-label {
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;
}

.filter-item-input {
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  font-weight: 700;
  background-color: #f2f2f2;
}

.filter-button-wrapper {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-top: 56px;
}

.control {
  font-size: 18px;
  line-height: 23px;
  display: flex;
  gap: 16px;
  align-items: center;
}

.control:hover {
  color: rgba(255, 255, 255, 0.6);
}

.control:active {
  color: rgba(255, 255, 255, 0.3);
}

.control-input {
  margin: 0;
  appearance: none;
  display: block;
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  border-radius: 4px;
}

.control:hover .control-input {
  opacity: 0.6;
}

.control:active .control-input {
  opacity: 0.3;
}

.control-input[type="checkbox"]:checked {
  background-image: url(../images/check.svg);
  background-size: 12px 10px;
  background-position: center;
  background-repeat: no-repeat;
}

.control-input[type="radio"] {
  border-radius: 50%;
  border: 5px solid #ffffff;
}

.control-input[type="radio"]:checked {
  background-color: #3f5e72;
}

.range {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 2px;
  row-gap: 44px;
}

.input-wrapper {
  margin: 0;
  width: 143px;
  display: grid;
  grid-template-columns: 1fr 44px;
  align-items: center;
}

.filter-item-label {
  padding: 12px;
  grid-column: 2 / 3;
  grid-row: -1 / -1;
  z-index: 1;
  font-size: 18px;
  line-height: 1.33;
  color: rgba(0, 0, 0, 0.3);
}

.filter-item-input {
  grid-row: 1 / 2;
  grid-column: 1 / 3;
  min-width: 144px;
  padding-inline: 20px 50px;
  padding-block: 12px;
  font-family: inherit;
  font-size: 18px;
  line-height: 1.33;
  font-weight: 700;
  color: #000000;
  background-color: #f2f2f2;
  border: none;
  box-sizing: border-box;
  appearance: textfield;
}

.filter-item-input::-webkit-inner-spin-button,
.filter-item-input::-webkit-outer-spin-button {
  appearance: none;
  margin: 0;
}

.input-min {
  border-radius: 4px 0 0 4px;
}

.input-max {
  border-radius: 0 4px 4px 0;
}

.ranger-controls {
  position: relative;
  grid-column: 1 / -1;
}

.bar {
  width: 100%;
  height: 4px;
  background-color: rgba(255, 255, 255, 0.3);
}

.ranger-track {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  width: 78%;
  height: 4px;
  background-color: #ffffff;
}

.ranger-toggle {
  position: absolute;
  top: 50%;
  width: 20px;
  height: 20px;
  padding: 0;
  background-color: #ffffff;
  border: none;
  border-radius: 5px;
  transform: translateY(-50%);
  cursor: pointer;
}

.ranger-toggle:hover {
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
}

.ranger-toggle:active {
  outline: 2px solid #83b3d3;
  box-shadow: 0 7px 15px 0 rgba(0, 0, 0, 0.4);
}

.ranger-toggle-min {
  left: 0;
}

.ranger-toggle-max {
  left: 207px;
}

.hotels {
  text-align: start;
  padding: 50px 70px 60px;
}

.hotels-wrapper {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;
  gap: 70px;
}

.hotels-result {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  color: #000000;
  text-transform: uppercase;
  margin: 0;
  margin-right: auto;
}

.hotels-select {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: inherit;
  background-color: #ffffff;
  appearance: none;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  padding: 12px 40px 12px 20px;
  width: 292px;
  background-image: url("../images/arrow-select.svg");
  background-repeat: no-repeat;
  background-position: right 17px center;
}

.hotels-select:hover {
  border-color: #68a2ca;
}

.hotels-select:disabled {
  border-color: rgba(0, 0, 0, 0.3);
  color: rgba(0, 0, 0, 0.3);
}

.display-cards {
  display: flex;
  gap: 0 8px;
}

.hotels-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.hotel-card {
  padding: 20px 18px;
  border: 1px solid #e5e5e5;
  box-sizing: border-box;
  border-radius: 4px;
  display: grid;
  grid-template-columns: 140px 140px;
  grid-template-rows: min-content 1fr;
  gap: 20px;
}

.hotel-card-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  color: #000000;
  margin: 0;
}

.hotel-card-link {
  text-decoration: none;
}

.hotel-card-link:first-child,
.hotel-card-link:nth-child(2) {
  grid-column: 1/-1;
}

.hotel-card-price {
  font-size: 18px;
  line-height: 21px;
}

.hotel-card-price:nth-of-type(2) {
  text-align: end;
}

.rating-result {
  font-size: 16px;
  line-height: 20px;
  background-color: #f2f2f2;
  text-transform: uppercase;
  margin: 0;
  text-align: center;
  align-content: center;
  border-radius: 4px;
}

.stars {
  display: inline;
  margin: 0;
  height: 17px;
  background: url("../images/star.svg") space 0 0;
  margin-top: 10px;
}

.two-stars {
  width: 42px;
}

.three-stars {
  width: 66px;
}

.four-stars {
  width: 89px;
}

.pagination {
  list-style: none;
  display: flex;
  gap: 8px;
  margin: 0;
  padding: 80px 0 60px;
}

.pagination-item {
  text-align: center;
}

.pagination-more {
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  padding-top: 16px;
  display: block;
  min-width: 60px;
}

/* Кнопки */

.button {
  font-family: inherit;
  color: #ffffff;
  border-radius: 4px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  border: none;
  box-sizing: border-box;
  cursor: pointer;
}

.subscribe-button {
  font-size: 20px;
  line-height: 36px;
  padding: 8px 50px;
  border-radius: 0 4px 4px 0;
}

.search-button {
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  padding: 8px 50px;
}

.button-primary {
  background-color: #82b3d3;
}

.button-primary:hover {
  background-color: #68a2ca;
}

.button-primary:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #82b3d3;
}

.button-secondary {
  background-color: #756157;
}

.button-secondary:hover {
  background-color: #615048;
}

.button-secondary:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #756157;
}

.button-added {
  background-color: #7db54f;
}

.button-added:hover {
  background-color: #6c9e42;
}

.button-added:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #7db54f;
}

.button:disabled {
  background-color: #e5e5e5;
}

.filter-reset {
  background-color: transparent;
}

.filter-reset:hover {
  color: rgba(255, 255, 255, 0.6);
}

.filter-reset:active {
  color: rgba(255, 255, 255, 0.3);
}

.filter-reset:disabled {
  color: transparent;
}

.filter-button-wrapper .button {
  padding: 8px 40px;
}

.button-cards {
  display: block;
  width: 48px;
  height: 48px;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-position: center;
}

.button-cards:hover,
.button-cards:active {
  border-color: #000000;
}

.button-current {
  border-color: #000000;
  cursor: default;
}

.button-cards:first-child {
  background-image: url(../images/view-icons/view-tiles.svg);
}

.button-cards:nth-child(2) {
  background-image: url(../images/view-icons/view-large.svg);
}

.button-cards:nth-child(3) {
  background-image: url(../images/view-icons/view-list.svg);
}

.hotel-card-button {
  padding: 8px 18px;
}

.pagination-link {
  min-width: 60px;
  color: #ffffff;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  text-decoration: none;
  display: block;
  padding: 11px 10px;

}

.pagination-current {
  color: #000000;
  background-color: #f2f2f2;
}
